*{ 
    padding: 0;
    margin: 0;
    font-family: Indie Flower;
    color: rgba(243, 188, 7, 0.829);
}

body{
    background-image: linear-gradient(to bottom, rgba(30, 30, 32, 0.6), rgba(10, 10, 20, 0.7)),url('../images/back-im3.jpg');    
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;

}

/* Navigation Section*/
.header-text{
    font-family: Righteous;
    letter-spacing: 12px;
    font-size: 80px;
    color: hsl(216, 21%, 91%);
    align-self: center;

}

.nav-container{
    display: flex;
    flex-direction: column;
}

.top-side{
    display: flex;
    justify-content: space-between;

}

.header-text-wrapper{
    margin: auto;
}

.bottom-side{
    display: flex;
    flex-direction: column;
    align-self: center;

}
.icon{
    font-size: 40px;
}

.icon:hover{
    color: #1E90FF;
}

#nav-links{
    display: block;
}

.nav-link {
    text-decoration-line: none;
    justify-content: space-between;
    font-weight: 600;
    font-size: 30px;
    color: white;
    margin-left: 30px;
    margin-top:20px;
}

.nav-link:hover{
    color: #1E90FF;
}


/* Middle Section  */

.profile-card{
    display: flex;
    border:3px #1E90FF solid;
    margin-top: 20px;
    background: rgba(8, 8, 8, 0.6);
}

.descrip-text{
    font-size: 25px;
    margin-left: 30px;
}

.image-wrapper{
    flex:1;
}

.image img{
    margin-left:50px;
}
.description{
    flex:2;
}

.social-media-icons-wrapper{
    border:3px #1E90FF solid;
    background:rgba(8, 8, 8, 0.6);
    margin-top: 20px;
    margin:auto;
}

.text-2{
    font-size: 30px;
}

.social-media-icons{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.social-media-icon{
    font-size: 80px;
    color:white;
}


.social-media-icon:hover{
    color: #1E90FF;
}


/* About Me Webpage */

.about-me-card{
    display: flex;
    flex-direction: column;
    height: 90%;
}

.about-me-image-wrapper{
    margin-top: 40px;
    height: 50%;
    width: 30%;
    align-self: center;
    z-index: 1;
}

.description-wrapper{
    padding-top: 80px;
    height: 50%;
    width: 80%;
    align-self: center;
    border:4px white solid;
    background:rgba(8, 8, 8, 0.6);
}

.description-wrapper p{
   padding: 10px;
   font-size: 20px;
}

/* My Projects */

.projects-container{
    margin-top: 20px;
    height: 70%;
 
}

.project-header{
    width: 240px;
    align-self: center;
    margin: auto;
}

.project-header h2{
    letter-spacing: 3px;
    font-family: Righteous;
    border-radius: 30px;
    padding-left: 35px;
    padding-bottom: 10px;
    color:white;
    padding-top: 10px;
    border:4px #1E90FF solid;
}

.project-text{
    margin-left: 100px;
}

.project-text h4{
    font-size: 30px;
}

small{
    font-size: 18px;
}

.projects-icons{
    font-size: 120px;
    margin-top: 20px;
    display: flex;
}

.projects-icon{
    color: #1E90FF;
    margin: auto;
}

.projects-icon:hover{
    color:white;
    font-size: 150px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 30px;
    height: 80%;
    padding: 20px;
}

.grid-item{
    width: 90%;
    height:100%;
    border:4px #1E90FF solid;
    background:rgba(8, 8, 8, 0.6);  
}

.py-icon-item{
     font-size: 40px;
     color:white;
}

.py-icon-item:hover{
    color: #f5f542;
    cursor: pointer;
}

/* Contact Form Webpage */

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 500px;
    margin: auto;
    margin-top: 70px;
}

.contact-me{
    align-self: center;
}

.contact-me h2{
    font-family: Righteous;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 10px;
}

.form-wrapper{
    align-self: center;
    width: 60%;
}

.form-items{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    border:2px #1E90FF solid;
    background:rgba(8, 8, 8, 0.6);
    padding:30px;
    width: 100%;
}

.form-item{
    justify-content: space-between;
    padding: 20px;
}

input{
    color:white;
    width: 80%;
    font-weight: 800;
    height: 80%;
}

.form-item input{
    font-family: calibri;
    font-size: 20px;
    background: none;
    border:none;
    border-bottom: 3px #1E90FF solid;
    padding-bottom:10px;
    outline: none;  

}

.form-item textarea{
    font-family: calibri;
    font-size: 20px;
    width: 100%;
    color:white;
    background: none;
    outline: none;
    border:3px #1E90FF solid;
}

.btn{
    width: 100%;
    background: none;
    height: 40px;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 3px;
    border-radius: 20px;
    border:3px #1E90FF solid;
}

.btn:hover{
    color:none;
    background:#1E90FF;
}



/*================= Media Queries ============================*/
@media (min-width: 320px) {
    
    .descrip-text{
        font-size: 20px;
    }
}

/* Tablet View */
@media (min-width: 600px) {

    .descrip-text{
        font-size: 30px;
    }

    .mid-section{
        display: flex;
        flex-direction: row;
    } 
    
    .icon{
        display: none;
    }

}


/* Mobile View */
@media (max-width: 800px){
    .header-text{
        font-size: 40px;
    }

    #nav-links{
        display: none;
    }

    .nav-link{
        font-size: 20px;
    }



    .mid-section{
        display: flex;
        flex-direction: column;
    }

    .profile-card{
        display: flex;
        flex-direction: column;
    }

    #p-im{
        width:80%;
        padding-bottom: 30px;
        margin-left: 40px;
    }

    .about-me-image-wrapper{
        width: 100%;
    }
    #p-im-2{
        width: 80%;
        margin-left:50px;
    }
    
    .h-2{
        font-size: 20px;
    }

    .social-media-icons-wrapper{
        border: none;
        margin-bottom: 20px;
    }

    .social-media-icons{
        display: flex;
        flex-direction: row;
    }

    .social-media-icon{
        font-size: 55px;
        margin: 0px;
        margin-left: 75px;
        color:#1E90FF;
    }

    .text-2{
      display: none;
    }

    /* PROJECTS MEDIA QUERY */
    .grid-container{
        display: flex;
        flex-direction: column;
    }

    .grid-item{
        margin-bottom: 10px;
        margin-left: 25px;

    }

    body{
        height: max-content;
    }

    /* CONTACTS MEDIA QUERY */
    .contact-me h2{
        font-size: 25px;
        color:#1E90FF;
    }
}
