<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Notable|Righteous&display=swap" rel="stylesheet"> 
    <title>St.Klue</title>	
 
</head>

<body>

    <div class="container">

               <!---Navigation-->
               <div class="nav-container">
                <div class="top-side">
                    <div class="header-text-wrapper"><h1 class="header-text">ST.KLUE</h1></div>
                    
                    <div class="bar-top">
                     <button onclick="barClick()" style="background: none; border:none" >
                         <ion-icon class="icon"  name="menu"></ion-icon>
                     </button>
                     </div>
                 </div>
    
                
                  
                  <div class="bottom-side"> 
                  <div class="link-bottom">
                        <div id="nav-links">
                            <a class="nav-link" href="index.html">Home</a>
                            <a class="nav-link" href="about-me.html">About Me</a>
                            <a class="nav-link" href="projects.html">Projects</a>
                            <a class="nav-link" href="contact.html">Contact</a>
                        </div>
                   </div>
                </div>
         </div>
   
         <!--My Projects List-->
       
         <div class="projects-container">

            <!--Header text-->
            <div class="project-header">
                <h2>My Projects</h2>
            </div>
            
            <div class="grid-container">

                <div class="grid-item">
                   <div class="py-icon-items">
                        <ion-icon  class="py-icon-item" name="logo-python"></ion-icon>
                   </div>
                   <div class="project-text">
                       <h4>Translator Web App</h4>
                       <small>Using HTML, CSS and Python Django Web framework</small>
                   </div>
                   <div class="projects-icons">
                        <ion-icon class="projects-icon" name="chatboxes"></ion-icon>
                   </div>
                </div>

                <div class="grid-item">
                   <div class="py-icon-items">
                        <ion-icon class="py-icon-item" name="logo-python"></ion-icon>
                   </div>
                   <div class="project-text">
                        <h4>Bank App</h4>
                        <small>Using Python</small>
                    </div>
                   <div class="projects-icons">
                        <ion-icon class="projects-icon" name="cash"></ion-icon>
                   </div>
                </div>

                <div class="grid-item">
                    <div class="py-icon-items">
                        <ion-icon class="py-icon-item"  name="logo-python"></ion-icon>
                    </div>
                    <div class="project-text">
                            <h4>Web App</h4>
                            <small>Using Python Django Web framework, HTML and CSS</small>
                        </div>
                    <div class="projects-icons">
                         <ion-icon class="projects-icon" name="logo-html5"></ion-icon>
                    </div>
                </div>

            </div>

        </div>

        <footer>
            <div class="social-media-icons-wrapper">
                <div class="social-media-icons">
                    <h4 class="text-2">Follow me here: </h4>
                     <a href="#"><ion-icon class="social-media-icon" name="logo-facebook"></ion-icon></a>
                     <a href="#"><ion-icon class="social-media-icon" name="logo-instagram"></ion-icon></a>
                     <a href="#"><ion-icon class="social-media-icon" name="logo-linkedin"></ion-icon></a>
                </div>  
            </div>
        </footer>

    </div>

      <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/6.3.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#reserved-urls -->

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>

<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="scripts/scripts.js"></script>
</body>
</html>